
<div class="wrapper">
  <h1> To-do list </h1>
  <div class="container with-border">
    <h2> To be done </h2>
    <% @tasks.incomplete.each do |task| %>
      <div class="col">
        <ul>
          <li class="with-border push-top"><%= task.description %></li>
          <li>
            <%= form_tag update_tasks_path(task), method: "put" do |f| %>
              <%= submit_tag "Complete", class: "btn btn-large btn-primary push-top" %>
            <% end %>
          </li>
        </ul>
      </div>
    <%end%>

    <%= form_for :task, url: tasks_path do |f| %>
      <%= f.text_field :description, class: "text_field" %>
      <%= f.submit "Add new task", class: "btn btn-large btn-secondary" %>
    <%end%>
  </div>

  <div class="container with-border crossed-out">
    <h2>Completed tasks</h2>
    <% @tasks.completed.each do |task| %>
      <div class="col">
        <ul>
          <li class="with-border"><%= task.description %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
